.gradient {
    border: 0.000000000001px none transparent;
    background: linear-gradient(to bottom, #1afff4, #868686);
    min-height: 100vh;
    height: auto;
    
}

.gradient>div:nth-child(1){
    /* border: 1px solid green; */
    /* margin-top: ; */
    display: flex;
    justify-content: space-between;
}

.gradient>div:nth-child(1)>div{
    /* border: 1px solid blue; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto ;
    width: auto;
}

.gradient>div:nth-child(1)>div:nth-child(2){
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}


.gradient>div:nth-child(1)>div:nth-child(2) button{
    background: #109a73;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

h2,h3{
   text-align: center;
   color: white;
}

.weatherDetails{
    /* border: 1px solid red; */
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    color: white;
}

.ImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}

h3{
    font-size: 25px;
}

.weatherdiv{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0%;
}


 button{
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    color: white;
    font-weight: bold;
    background: #109a73;
}