<div class="gradient">
  <div >
    <table>
        <thead>
            <tr>
                <!-- td* -->
            </tr>
        </thead>
    </table>
  </div>
</div>

<!-- {
    "coord": {
        "lon": "93.04",
        "lat": "25.99"
    },
    "weather": [
        {
            "id": 802,
            "main": "Clouds",
            "description": "scattered clouds",
            "icon": "03n"
        }
    ],
    "base": "stations",
    "main": {
        "temp": "27.53",
        "feels_like": "25.83",
        "temp_min": "24.31",
        "temp_max": "31.17",
        "pressure": "1009.32",
        "humidity": "88.85",
        "sea_level": "1007.51",
        "grnd_level": "1000.27"
    },
    "visibility": "10504.22",
    "wind": {
        "speed": "1.64",
        "deg": "301.22",
        "gust": "0.99"
    },
    "clouds": {
        "all": "54.18"
    },
    "dt": "1695834404.00",
    "sys": {
        "country": "IN",
        "sunrise": 1695771495,
        "sunset": 1695814809
    },
    "timezone": 19800,
    "name": "Assam",
    "cod": 200
} -->